{
  "extends": "@leancode",
  "rules": {
    "prettier/prettier": "warn"
  },
  "overrides": [
    {
      "files": ["*.scss.d.ts"],
      "rules": {
        "prettier/prettier": false
      }
    }
  ]
}
